doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || 'Lapso'
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      p.header-sub Chef Dante D'Ávila
      h1 Lapso
      p.header-sub São Paulo
    main
      block content
    footer
      p Lapso &mdash; Alta gastronomia brasileira
